<div style="text-align:center">
  <h3><%=@chat.title %></h3>
</div>

<div class="row">
  <div class="col-sm-6">
    <div style="text-align:center">채팅창</div>
    <div style="overflow:scroll; overflow-x:hidden; word-wrap:break-word; word-break:break-all; width:auto; height:400px;" id="chatbox">

      <% @chat.messages.each do |message| %>

        <div class="row">
          <div class="col-sm-1">
            <img src="<%= User.find(message.sender_id).image.url %>" alt="User.find(message.sender_id).first_name" class="img-circle" onmouseover="bigImg(this)" onmouseout="normalImg(this)" onclick="alert('<%=message.content%>');" style="padding-top:2px; padding-left:2px" width="36px" height="36px">
          </div>
          <div class="col-sm-11">
            <div id="message<%=message.id%>">
              <strong><%=User.find(message.sender_id).first_name%></strong><br>
              <%=message.content%><br>
            </div>

          </div>
        </div>
      <% end %>

      <%= sync_new partial: 'newmessages', resource: Message.new, scope: @chat%>

    </div>
    <%= form_for(:message, :url => {:controller => 'message', :action => 'create'}, :remote => true, :html => {:id => "messageform"}) do |f| %>
      <div class="form-group has-success has-feedback">
        <div class="input-group">
          <input type="text" name="message[content]" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" autofocus required autocomplete="off">
          <span class="input-group-addon">+</span>
        </div>
      </div>
      <%= f.hidden_field :chat_id, :value => @chat.id %>

    <%end%>


    <script>
      $(document).ready(function(){
        $("#inputGroupSuccess1").keydown(function(event){
            if(event.keyCode == 13){
              $("#messageform").submit();

              $('#inputGroupSuccess1').val('');
              return false;
            }

        });
      });
    </script>
  </div>
  <div class="col-sm-6">
    <div style="text-align:center">
      화이트 보드
      <%= sync partial: "whiteboardedit", resource: @whiteboard, scope: @chat %>

      <nav>
        <ul class="pagination pagination-sm">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><%=sync partial: 'whiteboardcondition', resource: @whiteboard, scope: @chat%></li>
          <form action="/whiteboard/update2" method="put" id="whiteboardchangeform" data-remote="true">
            <input type="hidden" name="whiteboardid" value=<%=@whiteboard.id%>>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          </form>
          <script>
            $(document).ready(function(){
              $("#whiteboardsend").click(function(){
                $("#whiteboardform").submit();
              });

              $("#whiteboardchange").click(function(){
                $("#whiteboardchangeform").submit();
              });
            });
          </script>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div id="messagelook"></div>
<% if @chat.messages.count != 0 %>
  <form action="/message/update" method="put" data-remote=true id="messagelookall">
    <input type="hidden" name="messageid" value=<%=@chat.messages.last.id%>>
  </form>
<% end %>

<script>
  $(document).ready(function(){
    <%if @message %>

      $('#chatbox').animate({ scrollTop: $('#message<%=@message.id%>').offset().top });
      $("#message<%=@message.id%>").append("<p>--------여기까지 읽으셨습니다------------</p>")
    <% end %>
  });

  $(document).ready(function(){
    $('#messagelookall').submit();
  });
</script>
<script>
function bigImg(x) {
    x.style.height = "56px";
    x.style.width = "56px";
}

function normalImg(x) {
    x.style.height = "36px";
    x.style.width = "36px";
}
</script>