<div class="row">
	<div class="col-sm-2" style="margin-top: 60px;">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
              <a href="/chat/show?team=<%=@team.id%>" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne" style="font-family: 'Jeju Gothic', sans-serif;">
                팀 홈으로 가기<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
              </a>
          </h4>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
          <% temp = [] %>
          <% temp += @team.users.order(first_name: :asc) %>
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              멤버 <small><%=temp.count%>명</small> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div class="row">
              <div id="profile_me" class="col-sm-12">
                <img class="img-circle" alt="profile" src="<%=current_user.image%>" style="width: 35px; height: 35px;">
                <%=current_user.first_name%>
              </div>
            </div>
      
            <!-- Others Profile -->
            <% temp.each_with_index do |t,idx| %>
              <% if t.id != current_user.id %>
                <div class="row">
                  <div id="profile<%=idx%>" class="col-sm-12">
                    <img style="width: 35px; height: 35px;" class="img-circle" alt="profile" src="<%=t.image%>">
                    <%=t.first_name%>
                  </div>
                </div>
              <% end %>
            <% end %>
            <hr/>
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8">
                <form action="/team/addmember" method="get">
                  <input type="hidden" name="team" value="<%=@team.id%>"/>
                  <button type="submit" class="btn btn-new btn-xs" style="width: 100%;" data-toggle="tooltip" data-placement="bottom" title="팀원 추가"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  채팅방 <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
              <% if @chat %>
                <% @chat.each do |chat| %>
                  <div class="row well well-sm">
                    <form action ="/message/show" method="get">
                      <input type="hidden" name="chat" value="<%=chat.id%>">
                      <input type="hidden" name="team" value="<%=@team.id%>">
                      <input class="btn btn-link" style="width: 100%;text-align: left;"type="submit" value="<%=chat.title%>">
                    </form>
                    <form action="/chat/deletemember" method="post">
                      <input type="hidden" name="chat" value="<%=chat.id%>">
                      <input type="hidden" name="team" value="<%=@team.id%>">
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                      <div class="row">
                        <div class="col-md-9">
                          <% chat.users.each do |inchat| %>
                            <img class="img-circle" alt="profile" src="<%=inchat.image%>" style="width: 20px; height: 20px;">
                          <% end %>
                        </div>
                        <div class="col-md-3">
                          <button class=""type="submit" style="float:right;"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></button>
                        </div>
                      </div>
                    </form>
                  </div>
                <% end %>
              <% end %>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8"><button class="btn btn-new btn-xs" style="width: 100%;" type="button" data-toggle="collapse" data-placement="bottom" data-target="#addchatroom2" aria-expanded="false" aria-controls="addchatroom"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="채팅방 추가"></span></button></div>
              </div>
              <div class="row collapse" id="addchatroom2">
                <form action="/chat/create" method="post">
                  <div id="chat_top" class="col-md-12">
                    회의방 이름 <input type="text" name="title" required>
                    <input type="hidden" name="team" value="<%=@team.id%>" style="width:100%;">
                  </div>
                  <% temp.each_with_index do |t,idx| %>
                    <% if t.id != current_user.id %>
                      <div class="row" id="chat_top">
                        <div id="profile<%=idx%>" class="col-sm-12">
                          <aside style="padding-left: 12px;">
                            <img id="img_setting" style="width: 35px; height: 35px;" class="img-circle" alt="profile" src="<%=t.image%>">
                          </aside>
                          <h5 style="color: black;"><%=t.first_name%></h5>
                          <%= check_box_tag('user_ids[]', t.id) %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                </form>
              </div>
              </div>
            </div>
          </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              작업 분배 <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> 
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <div class="row">
              <h3 style="color: #372727; padding-left: 10px"></h3>
            </div>
          
            <form action="/task/create" method="post">
              <div class="row" style="border-top: 1px solid #ccc; padding-left:10px; padding-right:10px; padding-top:10px;">
                <div class="form-group">
                    <label for="taskname_text"><span class="glyphicon glyphicon-briefcase" aria-hidden="true" style="padding-top: 2px; margin-right: 2px;"></span>작업이름</label>
                    <input type="text" class="form-control" name="taskname" id="taskname_text" placeholder="Give Your Task">
                </div>
              </div>
              
              <div class="row" style=" padding-left:10px; padding-right:10px;">
                <label for="datetimepicker1"><span class="glyphicon glyphicon-calendar" aria-hidden="true" style="padding-top: 2px; margin-right: 2px;"></span>마감기한</label>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                      <input type='text' class="form-control" name="duedate"/>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                </div>
              </div>
              <div class='row' style="padding-left:10px; padding-right:10px; padding-bottom:10px;">
                <button type="submit" value="send" class="btn btn-new btn-sm" aria-haspopup="true" aria-expanded="false" style="font-size: 13px;">
                  등록
                </button>
              </div>
              <script type="text/javascript">
                $(function () {
                  $('#datetimepicker1').datetimepicker({
                    format : 'YYYY-MM-DD'
                  });
                });
              </script>
              
              <!-- My Profile -->
              <div class="row" style="border-top: 1px solid #ccc; padding-top: 5px">
                <div class="col-sm-10">
                  <img class="img-circle" alt="profile" src="<%=current_user.image%>" style="width: 35px; height: 35px;">
                  <%=current_user.first_name%>
                </div>
                <div id="profile_me" class="col-sm-2">
                  <%= check_box_tag('user_ids[]', current_user.id) %><br />
                </div>
              </div>
              
              <!-- Others Profile -->
              <div class="row" id="chat_top">
              </div>
              <% temp.each_with_index do |t,idx| %>
                <% if t.id != current_user.id %>
                  <div class="row">
                    <div class="col-sm-10">
                      <img class="img-circle" alt="profile" src="<%=t.image%>" style="width: 35px; height: 35px;">
                      <%=t.first_name%>
                    </div>
                    <div id="profile_me" class="col-sm-2">
                      <%= check_box_tag('user_ids[]', t.id) %><br />
                    </div>
                <% end %>
              <% end %>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
              <input type="hidden" name="team" value=<%=@team.id%>>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div></div>


	<div class="col-sm-10" style="margin-top:60px;">
		<div class="row">
			<aside style="padding-left: 12px;">
				<img class="img-rounded" alt="profile" src="<%=current_user.image%>" width="100px" height="100px" style="float: left; margin-right: 8px; margin-top: 5px;">
			</aside>
			<div style="margin-left: 15px;">
				<h2> <%=current_user.first_name%><%=current_user.last_name%></h2>
				<h4 style="color: gray;"> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%=current_user.email%> </h4>
			</div>
		</div>
		<br>
		<% temp = [] %>
		<% temp += @team.users %>
		<section class="sidebar_task">
			<br>
			<% temp.each_with_index do |t,idx| %>
			  	<div role="presentation" class="active" id="<%=idx%>" data-toggle="modal" data-target="#<%=idx%>info">
				    <div class="row" style="margin-top: 5px;">
				    	<div class="col-md-12">
					  		<aside>
					  			<div class="col-md-3">
						    		<img class="img-rounded" alt="profile" src="<%=t.image%>" width="40px" height="40px" style="float: left;">
						    	</div>
						    	<% if (Time.now - t.last_seen) <= 300 %>
						    	<div class="col-md-5" id="sidebar_name"><c><%=t.first_name%></c></div>
						    	<div class="col-md-4" id="sidebar_status"><c>접속중</c></div>
								<% elsif (Time.now - t.last_seen) <= 600 %>
								<div class="col-md-5" id="sidebar_name"><c><%=t.first_name%></c></div>
						    	<div class="col-md-4" id="sidebar_status"><c>5분 전</c></div>
							    <% elsif (Time.now - t.last_seen) <= 1800 %>
							    <div class="col-md-5" id="sidebar_name"><c><%=t.first_name%></c></div>
						    	<div class="col-md-4" id="sidebar_status"><c>10분 전</c></div>
							    <% elsif (Time.now - t.last_seen) <= 3600 %>
							    <div class="col-md-5" id="sidebar_name"><c><%=t.first_name%></c></div>
						    	<div class="col-md-4" id="sidebar_status"><c>30분 전</c></div>
							    <% elsif (Time.now - t.last_seen) <= 10800 %>
							    <div class="col-md-5" id="sidebar_name"><c><%=t.first_name%></c></div>
						    	<div class="col-md-4" id="sidebar_status"><c>1시간 전</c></div>
							    <% elsif (Time.now - t.last_seen) <= 21600 %>
							    <div class="col-md-5" id="sidebar_name"><c><%=t.first_name%></c></div>
						    	<div class="col-md-4" id="sidebar_status"><c>3시간 전</c></div>
							    <% elsif (Time.now - t.last_seen) <= 43200 %>
							    <div class="col-md-5" id="sidebar_name"><c><%=t.first_name%></c></div>
						    	<div class="col-md-4" id="sidebar_status"><c>6시간 전</c></div>
							    <% elsif (Time.now - t.last_seen) <= 86400 %>
							    <div class="col-md-5" id="sidebar_name"><c><%=t.first_name%></c></div>
						    	<div class="col-md-4" id="sidebar_status"><c>12시간 전</c></div>
								<% elsif (Time.now - t.last_seen) <= 172800 %>
							    <div class="col-md-5" id="sidebar_name"><c><%=t.first_name%></c></div>
						    	<div class="col-md-4" id="sidebar_status"><c>1일 전</c></div>
							    <% elsif (Time.now - t.last_seen) <= 343600 %>
							    <div class="col-md-5" id="sidebar_name"><c><%=t.first_name%></c></div>
						    	<div class="col-md-4" id="sidebar_status"><c>2일 전</c></div>
						    	<% elsif (Time.now - t.last_seen) <= 687200 %>
							    <div class="col-md-5" id="sidebar_name"><c><%=t.first_name%></c></div>
						    	<div class="col-md-4" id="sidebar_status"><c>4일 전</c></div>
							    <% else %>
							    <h5 style="color: white;"><%=t.first_name%><br>
							    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></h5>
							    <% end %>
					    	</aside>
				    	</div>
					</div>
			  	</div>
			<% end %>
		</section>
		<% temp.each_with_index do |t,idx| %>
			<div class="modal fade" id="<%=idx%>info" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
				<div class="modal-dialog modal-lg">
				    <div class="modal-content">
						<% ro = t.id %>
						<% @taskindiv = t.tasks.where(:team_id => params[:team]) %>
						<% @taskindiv.each_with_index do |b,i| %>
							<!-- gantt head -->
							<div class="bar2">
								<% for j in 0..11 %>
									<% a = Date.today + j %>
									<div class="col-md-1"><%=a.strftime("%m/%d") %></div>
								<% end %>
							</div>
							<% if b.duedate == nil %>
								<% b.duedate = Date.today %>
							<% end %>
							<% a = (b.duedate - (Date.today)).to_i %>
							<% if a > 0 %>
								<div class="bar2">
									<div class="bar2-innertask" data-task ="<%=b.taskname%>"></div>
							  		<div id="<%=i%>th-gantt" class="bar-innerday bar-<%=a%>" data-date="<%=a%>" data-display ="D -<%=a%>"></div>
								</div>
							<% end %>
						<% end %>
						<script>
						    ganttfn();
					  	</script>
				    </div>
		  		</div>
			</div>
		<% end %>
		
	<div class="homebody_task">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist" style="padding-left: 70px;">
			<li role="presentation" class="active"><a href="#contribution" aria-controls="contribution" role="tab" data-toggle="tab">기여도</a></li>
			<li role="presentation"><a href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab">나의 할 일</a></li>
			<li role="presentation"><a href="#sends" aria-controls="sends" role="tab" data-toggle="tab">내가 시킨 일</a></li>
		</ul>

		<!-- Tab panes -->
	  	<div class="tab-content">
	  	<!--tab-content contribution starts-->
		<div role="tabpanel" class="tab-pane active" id="contribution">
		    	<div class="row">
				<!--Average Completion-->
					<div class="col-md-4">
						<!--Circle Graph-->
						<canvas id="circlegraph" width="400px" height="400px"></canvas>
						<% sum = 0 %>
						<% cnt = @tasklist.count %>
						<% if cnt == 0 %>
						<% cnt = 1 %>
						<% end %>
						<% @tasklist.each do |t| %>
							<% sum += (t.wansungdo).to_i %>
						<% end %>
						<script>
						    //canvas initialization
						    var canvas = document.getElementById("circlegraph");
						  	circle(canvas,<%=sum%>,<%=cnt%>);
							/*function addLoadEvent(func) {
							    var oldonload = window.onload;
							      if(typeof window.onload != 'function') {
							          window.onload = func;
							      }
							      else {
								      window.onload = function() {
								            oldonload();
								            func();
								      }
								  }
							}*/
						  	//addLoadEvent(abc);
						</script>
					</div>
					<% cnt_given = [] %>
					<% cnt_done = [] %>
					<% cnt = 0 %>
					<% @taskdo.each do |i| %>
						<% if i.created_at.strftime("%m").to_i == Date.today.strftime("%m").to_i %>
							<% cnt+=1 %>
						<% end %>
					<% end %>
					<% cnt_given << cnt %>
					<% cnt = 0 %>

					<% @task100.each do |i| %>
						<% if i.updated_at.strftime("%m").to_i == Date.today.strftime("%m").to_i %>
							<% cnt+=1 %>
						<% end %>
					<% end %>
					<% cnt_done << cnt %>
					<% cnt = 0 %>

					<% @taskdo.each do |i| %>
						<% if i.created_at.strftime("%m").to_i == Date.today.strftime("%m").to_i-1 %>
							<% cnt+=1 %>
						<% end %>
					<% end %>
					<% cnt_given << cnt %>
					<% cnt = 0 %>

					<% @task100.each do |i| %>
						<% if i.updated_at.strftime("%m").to_i == Date.today.strftime("%m").to_i-1 %>
							<% cnt+=1 %>
						<% end %>
					<% end %>
					<% cnt_done << cnt %>
					<% cnt = 0 %>

					<% @taskdo.each do |i| %>
						<% if i.created_at.strftime("%m").to_i == Date.today.strftime("%m").to_i-2 %>
							<% cnt+=1 %>
						<% end %>
					<% end %>
					<% cnt_given << cnt %>
					<% cnt = 0 %>

					<% @task100.each do |i| %>
						<% if i.updated_at.strftime("%m").to_i == Date.today.strftime("%m").to_i-1 %>
							<% cnt+=1 %>
						<% end %>
					<% end %>
					<% cnt_done << cnt %>
					<% cnt = 0 %>

					<div class="col-md-8">
						<h3>월별 통계</h3>
						<canvas id="canvas" style="width: 600px; height: 450px;">
						<script>
							var labelString = new Array();
							var dataString = new Array();
							var dataString2 = new Array();
							var barChartData = first(labelString, dataString, dataString2);
					
							<% for i in 0..2 %>
								barChartData.labels.push("<%=(Time.now - (2-i).month).strftime("%Y.%m")%>");
								dataString.push(<%=cnt_given[2-i]%>);
								dataString2.push(<%=cnt_done[2-i]%>);
							<% end %>
							onld(barChartData);
						</script>
					</canvas>
					</div>
				</div>
				
				<br>
				
				<div class="row" style="background-color: #F3F3F3; padding-left: 10px;">
					<!-- gantt head -->
					<div class="bar2">
						<%for i in 0..11 %>
							<% a = Date.today + i %>
							<div class="col-md-1"><%=a.strftime("%m/%d") %></div>
						<% end %>
					</div>
					<% @tasklist.each_with_index do |t,i| %>
						<% if t.wansungdo < 100 %>
							<% if t.duedate == nil %>
							<% t.duedate = Date.today %>
							<% end %>
							<% a = (t.duedate - (Date.today)).to_i %>
							<% if a > 0 %>
								<div class="bar2">
									<div class="bar2-innertask" data-task ="<%=t.taskname%>"></div>
							  		<div id="<%=i%>th-gantt" class="bar-innerday bar-<%=a%>" data-date="<%=a%>" data-display ="D -<%=a%>"></div>
								</div>
							<% end %>
						<% end %>
				  	<% end %>
					<script>
					    ganttfn();
				  	</script>
				</div>
		    </div>
	    <!--tab-content contribution ends-->
	    
	    <!--tab-content tasks starts-->
	    <div role="tabpanel" class="tab-pane" id="tasks" style="padding-left: 12px;">
		
		<h3>나의 할 일</h3>
			
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<% @tasklist.each_with_index do |taskdo,slideridx| %>
			    <% if taskdo.wansungdo < 100 %>
					<div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingOne">
			  			  	<div class="row">
								<div class="col-md-4" id="task_pararell">
							    	<%sender = User.find(taskdo.sender)%>
							    	<div class="col-md-8">
									    <aside>
									    	<img class="img-rounded" alt="profile" src="<%=sender.image%>" width="40px" height="40px" style="float: left; margin-right: 8px;">
										    <h5 id="task_name"> <%=sender.first_name%> <br>
										    	<%=sender.email%></h5>
								    	</aside>
							    	</div>
							    	<div class="col-md-2">
								    	<span class="glyphicon glyphicon-hand-right" aria-hidden="true" style="font-size: 20px; margin-top: 16px;"></span>
							    	</div>
							    	<div class="col-md-2">
								    	<aside>
									    	<img class="img-rounded" alt="profile" src="<%=current_user.image%>" width="40px" height="40px" style="margin-top: 10px; float: left; margin-right: 8px;">
								    	</aside>
							    	</div>
							    </div>
							    <div class="col-md-3" id="task_pararell">
								    <div class="col-md-6" id="task_taskdue">
									    <h5 id="task_name"><%=taskdo.taskname%></h5>
							 		</div>
									<div class="col-md-6" id="task_taskdue">
									    <h5 id="task_name"><%=taskdo.duedate%></h5>
									</div>
								</div>
								<div class="col-md-3">
									<div class="bar">
									  	<div class="bar-inner bar-<%=(taskdo.wansungdo).to_i %>" data-percent="<%=(taskdo.wansungdo).to_i %>%"></div>
									</div>
									<script> horild(); </script>
								</div>
								<div class="col-md-2" id="task_pararell">
									<button type="button" class="btn btn-default btn-lg" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=slideridx%>" aria-expanded="true" aria-controls="collapseOne">
										<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
									</button>
							    </div>
							</div>
					    </div>
					    
					    <div id="collapse<%=slideridx%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					    	<div class="panel-body">
					    		<div class="col-md-3">
									<% @commentdo = Comment.where(:task_id => taskdo.id) %>
									<% @commentdo.each do |commentdo| %>
										<li><%=commentdo.wansungdo_log%>% : <%=commentdo.comment_log%> <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <%=commentdo.created_at.strftime("%Y.%m.%d")%></li>
									<% end %>
								</div>
								<div class="col-md-6"></div>
								<div class="col-md-3">
							        <form action="/task/wansungdo_update" method="post">
								    	<input type="hidden" name="task_id" value="<%=taskdo.id%>">
								    	<input type="hidden" name="team_id" value="<%=taskdo.team_id%>">
								    	<div class="row">
								    		<div class="form-group">
								    			<div class="col-md-10">
													<label for="InputComment<%=slideridx%>"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="padding-top: 2px; margin-right: 2px;"></span>Progress</label>
													<input type="text" class="form-control" name="comment" id="InputComment<%=slideridx%>" placeholder="Comment">
												</div>
											</div>
										</div>
										<div class="row" style="margin-top: 10px;">
											<div class="form-group">
												<div class="col-md-10">
													<label for="InputComment<%=slideridx%>"><span class="glyphicon glyphicon-indent-left" aria-hidden="true" style="padding-top: 2px; margin-right: 2px;"></span>Completion</label>
													<br>
										       		<input id="sl<%=slideridx%>" name="wansungdo" type="text" data-slider-value="<%= taskdo.wansungdo %>" data-slider-ticks="[0,10, 20,30, 40,50, 60,70, 80,90, 100]" data-slider-ticks-snap-bounds="30" data-slider-ticks-labels='['0%','', '20%','', '40%','', '60%','', '80%','', '100%']'/>
									       		</div>
									       	</div>	
								       	</div>
										<script>
											var slider = new Slider("#sl<%=slideridx%>", {
											    ticks: [0,10, 20,30, 40,50, 60,70, 80,90, 100],
											    //ticks_labels: ['0%','', '20%','', '40%','', '60%','', '80%','', '100%'],
											    ticks_snap_bounds: 30
											});
										</script>
								    	<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
								    	<div class="row" style="margin-top: 10px;">
								    		<div class="col-md-6 col-md-offset-4">
												<span class="glyphicon glyphicon-dashboard" aria-hidden="true" style="padding-top: 2px; margin-right: 2px;"></span><c><%=taskdo.wansungdo%>%</c>
												<button type="submit" class="btn btn-info btn-sm" aria-haspopup="true" aria-expanded="false" style="font-size: 13px;">
											    edit
												</button>
											</div>
										</div>
								    </form>
							    </div>
					    	</div>
					    </div>
					</div>
				<% end %>
			<% end %>
		</div>	
		<!--tab-content tasks ends-->
		
	    </div>
	    
	    <div role="tabpanel" class="tab-pane" id="sends" style="padding-left: 12px;">
			<h3>내가 시킨 일</h3>
			<% @tasksend.each_with_index do |taskdo,idx| %>
				<% if taskdo.wansungdo < 100 %>
				<div class="row">
					<div class="col-md-4" id="task_pararell">
				    	<%sender = User.find(taskdo.sender)%>
				    	<div class="col-md-2">
						    <aside>
						    	<img class="img-rounded" alt="profile" src="<%=current_user.image%>" width="40px" height="40px" style="margin-top: 10px; float: left; margin-right: 8px;">
					    	</aside>
				    	</div>
				    	<div class="col-md-2">
					    	<span class="glyphicon glyphicon-hand-right" aria-hidden="true" style="font-size: 20px; margin-top: 16px;"></span>
				    	</div>
				    	<div class="col-md-8">
					    	<aside>
					    		<% taskdo.users.each do |doer| %>
						    		<img class="img-rounded" alt="profile" src="<%=doer.image%>" width="40px" height="40px" style="float: left; margin-right: 8px;">
								    <h5 id="task_name"> <%=doer.first_name%> <br>
								    	<%=doer.email%></h5>	
				    			<% end %>
					    	</aside>
				    	</div>
				    </div>
				    <div class="col-md-3" id="task_pararell">
					    <div class="col-md-6" id="task_taskdue">
						    <h5 id="task_name"><%=taskdo.taskname%></h5>
				 		</div>
						<div class="col-md-6" id="task_taskdue">
						    <h5 id="task_name"><%=taskdo.duedate%></h5>
						</div>
					</div>
					<div class="col-md-3">
						<div class="bar">
						  	<div class="bar-inner bar-<%=(taskdo.wansungdo).to_i %>" data-percent="<%=(taskdo.wansungdo).to_i %>%"></div>
						</div>
						<script> horild(); </script>
					</div>
					<div class="col-md-2" id="task_pararell"></div>
				</div>
				<% end %>
			<% end %>
			
			
		</div>
	    <!-- Tab ends -->
	</div>
</div>