<style>
	.homebody{
		width: 82%;
	}
	.sidebar{
	    height: 100%;
	    width: 18%;
	    max-width: 250px;
	    position: absolute;
	    z-index: 1;
	    top: 51px;
	    right: 0;
	    background-color: #111;
	    overflow-x: hidden;
	    margin-left: 3px;
	}
	#task_pararell{
		margin-top: 20px;
	}
	#task_taskdue{
		padding-top: 6px;
	}
	#task_name{
		padding-top: 3px;
	}
</style>
<head>
	<div>
		<aside style="padding-left: 12px;">
			<img class="img-rounded" alt="profile" src="<%=current_user.image%>" width="100px" height="100px" style="float: left; margin-right: 8px;">
		</aside>
		<div style="margin-left: 15px;">
			<h2> <%=current_user.first_name%><%=current_user.last_name%></h2>
			<h2> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%=current_user.email%> </h2>
		</div>
	</div>
	<%= link_to "ENTIRE", action: 'entire', controller: 'task', team: @team.id%>
</head>

<body data-no-turbolink="true">
	<% temp = [] %>
	<% temp += @team.users %>
	<section class="sidebar">
		<% temp.each_with_index do |t,idx| %>
		  	<li role="presentation" class="active" id="<%=idx%>" data-toggle="modal" data-target="#<%=idx%>info">
		  		<aside style="padding-left: 12px;">
			    	<img class="img-rounded" alt="profile" src="<%=t.image%>" width="40px" height="40px" style="float: left; margin-right: 8px;">
			    	<% if (Time.now - t.last_seen) <= 300 %>
				    <h5 style="color: white;"><%=t.first_name%><br>
				    	 접속중</h5>
					<% elsif (Time.now - t.last_seen) <= 600 %>
					<h5 style="color: white;"><%=t.first_name%><br>
				    	 5분 전</h5>
				    <% elsif (Time.now - t.last_seen) <= 1800 %>
				    <h5 style="color: white;"><%=t.first_name%><br>
				    	 10분 전</h5>
				    <% elsif (Time.now - t.last_seen) <= 3600 %>
				    <h5 style="color: white;"><%=t.first_name%><br>
				    	 30분 전</h5>
				    <% elsif (Time.now - t.last_seen) <= 10800 %>
				    <h5 style="color: white;"><%=t.first_name%><br>
				    	 1시간 전</h5>
				    <% elsif (Time.now - t.last_seen) <= 21600 %>
				    <h5 style="color: white;"><%=t.first_name%><br>
				    	 3시간 전</h5>
				    <% elsif (Time.now - t.last_seen) <= 43200 %>
				    <h5 style="color: white;"><%=t.first_name%><br>
				    	 4시간 전</h5>
				    <% elsif (Time.now - t.last_seen) <= 86400 %>
				    <h5 style="color: white;"><%=t.first_name%><br>
				    	 12시간 전</h5>
					<% elsif (Time.now - t.last_seen) <= 172800 %>
				    <h5 style="color: white;"><%=t.first_name%><br>
				    	 1일 전</h5>
				    <% elsif (Time.now - t.last_seen) <= 343600 %>
				    <h5 style="color: white;"><%=t.first_name%><br>
				    	 2일 전</h5>
				    <% else %>
				    <h5 style="color: white;"><%=t.first_name%><br>
				    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></h5>
				    <% end %>
		    	</aside>
		  	</li>
		<% end %>
	</section>
	<% temp.each_with_index do |t,idx| %>
		<div class="modal fade" id="<%=idx%>info" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		    	<style>
					.bar2 {
					    background-color: #F3F3F3; /*gray*/
					    width: 70%;
					    /*height: 30px;*/
					    height: 40px;
					    /*border-left-style: dotted;
					    border-left-color: black;
					    border-left-width: thin;
					    border-top-style: dotted;
					    border-top-color: black;
					    border-top-width: thin;*/
					}
					.bar2-innertask:after{
					    position: absolute;
						right: 20%;
						color: #0C0C0C;
						content: attr(data-task);
						font-size: 18px;
						font-weight: 700;
						line-height: 30px;
					}
					.bar-innerday {
						background-color: #00B0F0; /*slight deep blue*/
						width: 0%;
						/*height: 100%;*/
						height: 30px;
						top: 5px;
						position: relative;
						transition: width 1250ms linear;
					}
					
					.bar-innerday:after {
						position: absolute;
						right: 5.5%;
						color: #fff; /*white*/
						content: attr(data-display);
						font-size: 18px;
						font-weight: 700;
						line-height: 30px;
					}
				</style>
				<% ro = t.id %>
				<% @taskindiv = t.tasks.where(:team_id => params[:team]) %>
				<% @taskindiv.each_with_index do |b,i| %>
					<!-- gantt head -->
					<div class="bar2">
						<% for j in 0..11 %>
							<% a = Date.today + j %>
							<div class="col-md-1"><%=a.strftime("%m/%d") %></div>
						<% end %>
					</div>
					<% if b.duedate == nil %>
						<% b.duedate = Date.today %>
					<% end %>
					<% a = (b.duedate - (Date.today)).to_i %>
					<% if a > 0 %>
						<div class="bar2">
							<div class="bar2-innertask" data-task ="<%=b.taskname%>"></div>
					  		<div id="<%=i%>th-gantt" class="bar-innerday bar-<%=a%>" data-date="<%=a%>" data-display ="D -<%=a%>"></div>
						</div>
					<% end %>
				<% end %>
			<script>
				    function ganttfn(){
				        (function(document) {
				          var _bars = [].slice.call(document.querySelectorAll('.bar-innerday'));
				          _bars.map(function(bar, index) {
				            setTimeout(function() {
				              var b = bar.dataset.date * 100/12;
				              if(b>=99){
				              	b=99;
				              }
				              b+="%";
				              bar.style.width = b;
				            }, 1);
				          });
				        })(document)
				    }
				    ganttfn();
			  	</script>
	    </div>
	  </div>
	</div>
	<% end %>
	
<div class="homebody">
	
	
	<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" style="padding-left: 70px;">
    <li role="presentation" class="active"><a href="#contribution" aria-controls="contribution" role="tab" data-toggle="tab">Contribution</a></li>
    <li role="presentation"><a href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab">Tasklist</a></li>
    <li role="presentation"><a href="#sends" aria-controls="sends" role="tab" data-toggle="tab">Sended Tasks</a></li>
  </ul>

	<!-- Tab panes -->
  	<div class="tab-content">
  	<!--tab-content contribution starts-->
	<div role="tabpanel" class="tab-pane active" id="contribution">
	    	<div class="row">
			<!--Average Completion-->
				<div class="col-md-4">
					<!--Circle Graph-->
					<style>
					  /*Centering the gauge*/
					  .circlegraph{
					    display: block;
					    width: 300px;
					    margin: 100px auto;
					  }
					  
					  /*custiom font for numgers*/
					  @font-face{
					    font-family: "bebas";
					    src: url("http://thecodeplayer.com/uploads/fonts/BebasNeue.otf");
					  }
					</style>
					<canvas id="circlegraph" width="400px" height="400px"></canvas>
					<% sum = 0 %>
					<% cnt = @tasklist.count %>
					<% if cnt == 0 %>
					<% cnt = 1 %>
					<% end %>
					<% @tasklist.each do |t| %>
						<% sum += (t.wansungdo).to_i %>
					<% end %>
					<script>
						function abc(){
						    //canvas initialization
						    var canvas = document.getElementById("circlegraph");
						    var ctx = canvas.getContext("2d");
						    //dimensions
						    var W = canvas.width;
						    var H = canvas.height;
						    //lets draw a 200degree arc. we need to specify degrees in radians
						    
						    //variables
						    var degrees = 0;
						    var color = "lightgreen";
						    var bgcolor = "#F3F3F3";
						    var text;
						    var difference = 0;
						    var animation_loop, redraw_loop;
						  
						    function init(){
						      //clear the canvas everytime a chart is drawn
						      ctx.clearRect(0, 0, W, H);
						      
						      //Background 360 degree arc
						      ctx.beginPath();
						      ctx.strokeStyle= bgcolor;
						      ctx.lineWidth=29;
						      //ctx.arc(x,y,radius,start_angle,end_angle,clockwise?);//you can see the arc now
						      ctx.arc(W/2,H/2,100,0,Math.PI*2,false);
						      ctx.stroke();
						      
						      //gauge will be a simple arc
						      
						      //Angle in radians = angle in degrees*PI/180
						      var radians = degrees*Math.PI/180;
						      ctx.beginPath();
						      ctx.strokeStyle = color;
						      ctx.lineWidth=30;
						      //ctx.arc(x,y,radius,start_angle,end_angle,clockwise?);//you can see the arc now
						      
						      //The arc starts from the right most end. If we deduct 90 degrees from the angles
						      //the arc will start from the topmost end
						      ctx.arc(W/2,H/2,100,0-90*Math.PI/180,radians-90*Math.PI/180,false);
						      ctx.stroke();
						      
						      //Lets add the text
						      ctx.fillStyle = color;
						      ctx.font = "50px bebas";//"50px arial"
						      text = Math.floor(degrees/360*100)+ '%';
						      //Lets center the text
						      //deducting half of text width from postion x
						      text_width = ctx.measureText(text).width;
						      //adding manual value to position y since the height of the text cannot
						      //be measured easily. there are hacks but we will keep it manual
						      //ctx.fillText(the_text, x, y)
						      ctx.fillText(text, W/2-text_width/2, H/2 + 15);
						      ctx.font = "20px bebas";
						      text = 'Average Completion';
						      text_width = ctx.measureText(text).width;
						      ctx.fillText(text, W/2-text_width/2, 0.3*H/2);
						    }
						  
						    function draw(arrival){
						      //cancel any movement animation if a new chart is requested
						      if(typeof animation_loop != undefined)
						        clearInterval(animation_loop);
						      //lets draw a 200 degree arc. we need to specify degrees in radians
						      new_degrees = arrival*360/100;
						      difference = new_degrees - degrees;
						      //This will animate the gauge to new positions
						      //The animation will take 1 second
						      //
						      setTimeout(function(){ },7000);
						      animation_loop = setInterval(animate_to,1000/difference);
						    }
						    
						    //function to make the chart move to new degrees
						    function animate_to(){
						      //if(degrees == new_degrees)  //clear animation loop if degrees reaches to new_degrees
						      //  clearInterval(animation_loop);
						      if(degrees < new_degrees)
						        degrees++;
						      else
						        clearInterval(animation_loop);
						      //else
						      //  degrees--;
						      
						      init();
						    }
						    
						    draw(<%=(sum/cnt)%>);
						    //redraw_loop = setInterval(draw,2000); //Draw a new chart every 2seconds
						}
						/*function addLoadEvent(func) {
						    var oldonload = window.onload;
						      if(typeof window.onload != 'function') {
						          window.onload = func;
						      }
						      else {
							      window.onload = function() {
							            oldonload();
							            func();
							      }
							  }
						}*/
					  	//addLoadEvent(abc);
					  	abc();
					</script>
				</div>
				
				<div class="col-md-8">
					<canvas id="canvas" style="width: auto; height: auto;">
					<script>
						var labelString = new Array();
						var dataString = new Array();
						var barChartData = first(labelString, dataString);
				
						<% @tasklistdesc.each_with_index do |t,idx| %>
							var displayday = <%=(t.wansungdo).to_i %>
							if(displayday >= 0){
							barChartData.labels.push("<%=((Date.today) - ( 5 - idx )).strftime("%m.%d")%>");
								dataString.push(displayday);
							}
						<% end %>
						onld(barChartData);
					</script>
				</canvas>
				</div>
			</div>
			
			<br>
			
			<div class="row" style="background-color: #F3F3F3; padding-left: 10px;">
				<style>
					.bar2 {
					    background-color: #F3F3F3; /*gray*/
					    width: 70%;
					    /*height: 30px;*/
					    height: 40px;
					    /*border-left-style: dotted;
					    border-left-color: black;
					    border-left-width: thin;
					    border-top-style: dotted;
					    border-top-color: black;
					    border-top-width: thin;*/
					}
					.bar2-innertask:after{
					    position: absolute;
						right: 20%;
						color: #0C0C0C;
						content: attr(data-task);
						font-size: 18px;
						font-weight: 700;
						line-height: 30px;
					}
					.bar-innerday {
						background-color: #00B0F0; /*slight deep blue*/
						width: 0%;
						/*height: 100%;*/
						height: 30px;
						top: 5px;
						position: relative;
						transition: width 1250ms linear;
					}
					
					.bar-innerday:after {
						position: absolute;
						right: 5.5%;
						color: #fff; /*white*/
						content: attr(data-display);
						font-size: 18px;
						font-weight: 700;
						line-height: 30px;
					}
				</style>
				<!-- gantt head -->
				<div class="bar2">
					<%for i in 0..11 %>
						<% a = Date.today + i %>
						<div class="col-md-1"><%=a.strftime("%m/%d") %></div>
					<% end %>
				</div>
				<% @tasklist.each_with_index do |t,i| %>
					<% if t.duedate == nil %>
					<% t.duedate = Date.today %>
					<% end %>
					<% a = (t.duedate - (Date.today)).to_i %>
					<% if a > 0 %>
						<div class="bar2">
							<div class="bar2-innertask" data-task ="<%=t.taskname%>"></div>
					  		<div id="<%=i%>th-gantt" class="bar-innerday bar-<%=a%>" data-date="<%=a%>" data-display ="D -<%=a%>"></div>
						</div>
					<% end %>
			  	<% end %>
				<script>
				    function ganttfn(){
				        (function(document) {
				          var _bars = [].slice.call(document.querySelectorAll('.bar-innerday'));
				          _bars.map(function(bar, index) {
				            setTimeout(function() {
				              var b = bar.dataset.date * 100/12;
				              if(b>=99){
				              	b=99;
				              }
				              b+="%";
				              bar.style.width = b;
				            }, 1);
				          });
				        })(document)
				    }
				    ganttfn();
			  	</script>
			</div>
	    </div>
    <!--tab-content contribution ends-->
    
	<style>
		.bar {
		    background-color: #f2f2f1;
		    width: 80%;
		    height: 30px;
		    margin: 30px;
		}
		.bar-inner {
		  background-color: #2ecc71;
		  width: 0%;
		  height: 100%;
		  position: relative;
		  transition: width 1250ms linear;
		}
		
		.bar-inner:after {
		  position: absolute;
		  right: 5.5%;
		  content: attr(data-percent);
		  color: #fff;
		  font-size: 18px;
		  font-weight: 700;
		  line-height: 30px;
		}
	</style>
    
    <!--tab-content tasks starts-->
    <div role="tabpanel" class="tab-pane" id="tasks">
	
	<h3>To do list</h3>
		
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<% @tasklist.each_with_index do |taskdo,slideridx| %>
		    <% if taskdo.wansungdo < 100 %>
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne">
		  			  	<div class="row">
							<div class="col-md-4" id="task_pararell">
						    	<%sender = User.find(taskdo.sender)%>
						    	<div class="col-md-8">
								    <aside>
								    	<img class="img-rounded" alt="profile" src="<%=sender.image%>" width="40px" height="40px" style="float: left; margin-right: 8px;">
									    <h5 id="task_name"> <%=sender.first_name%> <br>
									    	<%=sender.email%></h5>
							    	</aside>
						    	</div>
						    	<div class="col-md-2">
							    	<span class="glyphicon glyphicon-hand-right" aria-hidden="true" style="font-size: 20px; margin-top: 16px;"></span>
						    	</div>
						    	<div class="col-md-2">
							    	<aside>
								    	<img class="img-rounded" alt="profile" src="<%=current_user.image%>" width="40px" height="40px" style="margin-top: 10px; float: left; margin-right: 8px;">
							    	</aside>
						    	</div>
						    </div>
						    <div class="col-md-3" id="task_pararell">
							    <div class="col-md-6" id="task_taskdue">
								    <h5 id="task_name"><%=taskdo.taskname%></h5>
						 		</div>
								<div class="col-md-6" id="task_taskdue">
								    <h5 id="task_name"><%=taskdo.duedate%></h5>
								</div>
							</div>
							<div class="col-md-3">
								<div class="bar">
								  	<div class="bar-inner bar-<%=(taskdo.wansungdo).to_i %>" data-percent="<%=(taskdo.wansungdo).to_i %>%"></div>
								</div>
								<script> horild(); </script>
							</div>
							<div class="col-md-2" id="task_pararell">
								<button type="button" class="btn btn-default btn-lg" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=slideridx%>" aria-expanded="true" aria-controls="collapseOne">
									<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
								</button>
						    </div>
						</div>
				    </div>
				    
				    <div id="collapse<%=slideridx%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				    	<div class="panel-body">
				    		<div class="col-md-3">
								<% @commentdo = Comment.where(:task_id => taskdo.id) %>
								<% @commentdo.each do |commentdo| %>
									<li><%=commentdo.wansungdo_log%>% : <%=commentdo.comment_log%></li>
								<% end %>
							</div>
							<div class="col-md-6"></div>
							<div class="col-md-3">
						        <form action="/task/wansungdo_update" method="post">
							    	<input type="hidden" name="task_id" value="<%=taskdo.id%>">
							    	<input type="hidden" name="team_id" value="<%=taskdo.team_id%>">
							    	<div class="row">
							    		<div class="form-group">
							    			<div class="col-md-10">
												<label for="InputComment<%=slideridx%>"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="padding-top: 2px; margin-right: 2px;"></span>Progress</label>
												<input type="text" class="form-control" name="comment" id="InputComment<%=slideridx%>" placeholder="Comment">
											</div>
										</div>
									</div>
									<div class="row" style="margin-top: 10px;">
										<div class="form-group">
											<div class="col-md-10">
												<label for="InputComment<%=slideridx%>"><span class="glyphicon glyphicon-indent-left" aria-hidden="true" style="padding-top: 2px; margin-right: 2px;"></span>Completion</label>
												<br>
									       		<input id="sl<%=slideridx%>" name="wansungdo" type="text" data-slider-value="<%= taskdo.wansungdo %>" data-slider-ticks="[0,10, 20,30, 40,50, 60,70, 80,90, 100]" data-slider-ticks-snap-bounds="30" data-slider-ticks-labels='['0%','', '20%','', '40%','', '60%','', '80%','', '100%']'/>
								       		</div>
								       	</div>	
							       	</div>
									<script>
										var slider = new Slider("#sl<%=slideridx%>", {
										    ticks: [0,10, 20,30, 40,50, 60,70, 80,90, 100],
										    //ticks_labels: ['0%','', '20%','', '40%','', '60%','', '80%','', '100%'],
										    ticks_snap_bounds: 30
										});
									</script>
							    	<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
							    	<div class="row" style="margin-top: 10px;">
							    		<div class="col-md-6 col-md-offset-4">
											<span class="glyphicon glyphicon-dashboard" aria-hidden="true" style="padding-top: 2px; margin-right: 2px;"></span><c><%=taskdo.wansungdo%>%</c>
											<button type="submit" class="btn btn-info btn-sm" aria-haspopup="true" aria-expanded="false" style="font-size: 13px;">
										    edit
											</button>
										</div>
									</div>
							    </form>
						    </div>
				    	</div>
				    </div>
				</div>
			<% end %>
		<% end %>
	</div>	
	<!--tab-content tasks ends-->
	
    </div>
    
    <div role="tabpanel" class="tab-pane" id="sends">
		<h3>Tasks you gave</h3>
		<% @tasksend.each_with_index do |taskdo,idx| %>
			<% if taskdo.wansungdo < 100 %>
			<div class="row">
				<div class="col-md-4" id="task_pararell">
			    	<%sender = User.find(taskdo.sender)%>
			    	<div class="col-md-2">
					    <aside>
					    	<img class="img-rounded" alt="profile" src="<%=current_user.image%>" width="40px" height="40px" style="margin-top: 10px; float: left; margin-right: 8px;">
				    	</aside>
			    	</div>
			    	<div class="col-md-2">
				    	<span class="glyphicon glyphicon-hand-right" aria-hidden="true" style="font-size: 20px; margin-top: 16px;"></span>
			    	</div>
			    	<div class="col-md-8">
				    	<aside>
				    		<% taskdo.users.each do |doer| %>
					    		<img class="img-rounded" alt="profile" src="<%=doer.image%>" width="40px" height="40px" style="float: left; margin-right: 8px;">
							    <h5 id="task_name"> <%=doer.first_name%> <br>
							    	<%=doer.email%></h5>	
			    			<% end %>
				    	</aside>
			    	</div>
			    </div>
			    <div class="col-md-3" id="task_pararell">
				    <div class="col-md-6" id="task_taskdue">
					    <h5 id="task_name"><%=taskdo.taskname%></h5>
			 		</div>
					<div class="col-md-6" id="task_taskdue">
					    <h5 id="task_name"><%=taskdo.duedate%></h5>
					</div>
				</div>
				<div class="col-md-3">
					<div class="bar">
					  	<div class="bar-inner bar-<%=(taskdo.wansungdo).to_i %>" data-percent="<%=(taskdo.wansungdo).to_i %>%"></div>
					</div>
					<script> horild(); </script>
				</div>
				<div class="col-md-2" id="task_pararell"></div>
			</div>
			<% end %>
		<% end %>
		
		
	</div>
    <!-- Tab ends -->
</body>
