<div class="row">
  <div class="col-sm-2">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a href="/chat/show?team=<%=@team.id%>" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne" style="font-family: 'Jeju Gothic', sans-serif;">
              팀 홈으로 가기<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </a>
          </h4>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
          <% temp = [] %>
          <% temp += @team.users.order(first_name: :asc) %>
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              멤버 <small><%=temp.count%>명</small> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body" style="max-height: 300px;overflow: auto;">
            <div class="row">
              <div class="col-sm-12">
                <form action="/team/addmember" method="get">
                  <input type="hidden" name="team" value="<%=@team.id%>"/>
                  <button type="submit" class="btn btn-new btn-xs" style="width: 100%;" data-toggle="tooltip" data-placement="bottom" title="팀원 추가"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </form>
                <hr />
              </div>
              <div id="profile_me" class="col-sm-12">
                <img class="img-circle" alt="profile" src="<%=current_user.image%>" style="width: 35px; height: 35px;">
                <%=current_user.first_name%>
                <% temp.each_with_index do |t,idx| %>
                  <% if t.id != current_user.id %>
                    <br><img style="width: 35px; height: 35px;" class="img-circle" alt="profile" src="<%=t.image%>">
                    <%=t.first_name%>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              채팅방 <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" >
          <div class="panel-body" style="max-height: 300px;overflow: auto;">
            <div class="row">
              <div class="col-sm-12">
                <div data-toggle="tooltip" data-placement="bottom" title="채팅방 추가">
                  <button class="btn btn-new btn-xs" style="width: 100%;" type="button" data-toggle="collapse" data-placement="bottom" data-target="#addchatroom2" aria-expanded="false" aria-controls="addchatroom"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <hr />
              </div>
            </div>

            <div class="row collapse" id="addchatroom2">
              <div class="col-sm-12">
                <form action="/chat/create" method="post">
                  <input  class="form-control" type="text" name="title" placeholder="방 이름 입력" required>
                  <br>
                  <input type="hidden" name="team" value="<%=@team.id%>">
                  <% temp.each_with_index do |t,idx| %>
                    <% if t.id != current_user.id %>
                      <div id="profile<%=idx%>">
                        <div class="row">
                          <div class="col-xs-3">
                            <img class="img-circle" alt="profile" src="<%=t.image%>" style="width: 35px; height: 35px;">
                          </div>
                          <div class="col-xs-6">
                            <%=t.first_name%>
                          </div>
                          <div id="profile_me" class="col-xs-3 checkbox">
                            <%= check_box_tag('user_ids[]', t.id) %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                  <br>
                  <button type="submit" value="send" class="btn btn-new btn-sm" aria-haspopup="true" aria-expanded="false" style="width: 100%">
                    방 만들기
                  </button>
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                </form>
                <hr />
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <% if @chats %>
                  <% @chats.each do |chat| %>
                    <div class="well well-sm" style="cursor: pointer;" onclick="$('#chat<%=chat.id%>').submit();">
                      <p><%=chat.title%></p>
                      <form id="chat<%=chat.id%>" action ="/message/show" method="get">
                        <input type="hidden" name="chat" value="<%=chat.id%>">
                        <input type="hidden" name="team" value="<%=@team.id%>">
                      </form>
                      <form action="/chat/deletemember" method="post">
                        <input type="hidden" name="chat" value="<%=chat.id%>">
                        <input type="hidden" name="team" value="<%=@team.id%>">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                        <div class="row">
                          <div class="col-sm-9">
                            <% chat.users.each do |inchat| %>
                              <img class="img-circle" data-toggle="tooltip" data-placement="right" title="<%=inchat.first_name%>" src="<%=inchat.image%>" style="width: 20px; height: 20px;">
                            <% end %>
                          </div>
                          <div class="col-sm-3">
                            <button class="btn btn-danger btn-xs" type="submit" style="float:right;"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></button>
                          </div>
                        </div>
                      </form>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              할 일 <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body" style="max-height: 300px;overflow: auto;">
            <div class="row">
              <div class="col-sm-12">
                <div data-toggle="tooltip" data-placement="bottom" title="작업 추가">
                  <button class="btn btn-new btn-xs" style="width: 100%;" type="button" data-toggle="collapse" data-target="#givetask" aria-expanded="false" aria-controls="collapseExample">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </div>
              </div>
            </div>
            <div class="row collapse" id="givetask">
              <form action="/task/create" method="post">
                <div class="col-sm-12">
                  <hr />
                  <input type="text" class="form-control" name="taskname" id="taskname_text" placeholder="작업의 이름 입력" required>
                  <br>
                  <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                      <input type='text' class="form-control" placeholder="마감일 설정" name="duedate" required>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>

                <script type="text/javascript">
                  $(function () {
                    $('#datetimepicker1').datetimepicker({
                      format : 'YYYY-MM-DD',
                      minDate: new Date()
                    });
                  });
                </script>
                <!-- My Profile -->
                <div class="col-xs-3">
                  <img class="img-circle" alt="profile" src="<%=current_user.image%>" style="width: 35px; height: 35px;">
                </div>
                <div class="col-xs-6">
                  <%=current_user.first_name%>
                </div>
                <div id="profile_me" class="col-xs-3 checkbox">
                  <%= check_box_tag('user_ids[]', current_user.id) %><br />
                </div>

                <!-- Others Profile -->
                <% temp.each_with_index do |t,idx| %>
                  <% if t.id != current_user.id %>
                    <div class="col-xs-3">
                      <img class="img-circle" alt="profile" src="<%=t.image%>" style="width: 35px; height: 35px;">
                    </div>
                    <div class="col-xs-6">
                      <%=t.first_name%>
                    </div>
                    <div id="profile_me" class="col-xs-3 checkbox">
                      <%= check_box_tag('user_ids[]', t.id) %>
                    </div>
                  <% end %>
                <% end %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                <input type="hidden" name="team" value=<%=@team.id%>>
                <div class="col-sm-12">
                  <br>
                  <button type="submit" value="send" class="btn btn-new btn-sm" aria-haspopup="true" aria-expanded="false" style="width: 100%">
                    일 분배
                  </button>
                </div>
              </form>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <hr />
                <!-- 할 일 -->
                <% current_user.tasks.where(:team_id => @team.id).order(duedate: :asc).each_with_index do |b,i| %>
                  <% sender = User.find(b.sender)%>
                  <% if b.wansungdo < 100 %>
                    <% if b.duedate == nil %>
                      <% b.duedate = Date.today %>
                    <% end %>
                    <% a = (b.duedate - (Date.today)).to_i %>
                    <% if a >= 0 %>
                      <div class="well well-sm" style="word-wrap:break-word; word-break:break-all;">
                        <p>[<strong>D - <%=a%></strong>] <%=b.taskname%></p>
                        <div style="text-align: right">
                          <small>from</small> <img src="<%=sender.image.url%>" data-toggle="tooltip" data-placement="left" title="<%=sender.first_name%>" class="img img-circle" style="width: 20px;height: 20px;">
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
                <hr />
                <!-- 시킨 일 -->
                <% Task.where(:team_id => @team.id, :sender => current_user.id).order(duedate: :asc).each_with_index do |b,i| %>

                  <% if b.wansungdo < 100 %>
                    <% if b.duedate == nil %>
                      <% b.duedate = Date.today %>
                    <% end %>
                    <% a = (b.duedate - (Date.today)).to_i %>
                    <% if a > 0 %>
                      <div class="well well-sm" style="word-wrap:break-word; word-break:break-all;">
                        <p>[<strong>D - <%=a%></strong>] <%=b.taskname%></p>
                        <div style="text-align: right">
                          <small>to</small> <% b.users.each do |user| %><img src="<%=user.image.url%>" data-toggle="tooltip" data-placement="left" title="<%=user.first_name%>" class="img img-circle" style="width: 20px;height: 20px;"><% end %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Homebody for Notification or Something others -->
  <div class="col-sm-10">
    <div class="row">
      <aside style="padding-left: 12px; padding-top: 12px;">
      <img class="img-rounded" alt="profile" src="/favicon.ico" width="100px" height="100px" style="float: left; margin-right: 12px; margin-top: 20px; margin-bottom: 20px;">
      </aside>
      <h2> <%=@team.teamname%></h2>

      <h4 data-toggle="collapse" aria-expanded="false" aria-controls="name" style="font-size: 15px; text-decoration: none;"> <span class="glyphicon glyphicon-education" aria-hidden="true"></span> <%=@team.belong%>
      <button class="btn btn-bel btn-xs" type="button" data-toggle="collapse" data-placement="bottom" data-target="#belong" aria-expanded="false" aria-controls="belong"><span class="glyphicon glyphicon-pencil"></span></button></h4>

      <div class="collapse" id="belong">
        <form class="form-inline" action="/team/change_etc1" method="post" enctype="multipart/form-data">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <%= hidden_field_tag "team", @team.id %>
          <input class="form-control" type="text" name="belong" placeholder="팀 소속 입력 후 엔터" required>
        </form>
      </div>

      <h5 data-toggle="collapse" aria-expanded="false" aria-controls="name" style="font-size: 13px; color: gray;"> <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%=@team.location%>
      <button class="btn btn-loc btn-xs" type="button" data-toggle="collapse" data-placement="bottom" data-target="#location" aria-expanded="false" aria-controls="location"><span class="glyphicon glyphicon-pencil"></span></button></h5>
      
      <div class="collapse" id="location" style="margin-left: 125px;">
        <form class="form-inline" action="/team/change_etc2" method="post" enctype="multipart/form-data">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <%= hidden_field_tag "team", @team.id %>
          <input class="form-control" type="text" name="location" placeholder="지역 입력 후 엔터" required>
        </form>
      </div>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="padding-left: 70px; margin-top: 20px;">
      <!--<li role="presentation" class="active"><a href="#taskcalendar" aria-controls="home" role="tab" data-toggle="tab">Schedule</a></li>-->
      <li role="presentation" class="active"><a href="#tasklist" aria-controls="home" role="tab" data-toggle="tab">나의 할일</a></li>
      <li role="presentation"><a href="#taskindiv" aria-controls="home" role="tab" data-toggle="tab">팀 상황</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <!--<div role="tabpanel" class="tab-pane active" id="taskcalendar">
        <div id="cal">
          <div class="header">
            <span class="left button" id="prev"> &lang; </span>
            <span class="left hook"></span>
            <span class="month-year" id="label"> April 2016 </span>
            <span class="right hook"></span>
            <span class="right button" id="next"> &rang; </span>
          </div>
          <table id="days">
            <td>SUN</td><td>MON</td><td>TUE</td><td>WED</td><td>THU</td><td>FRI</td><td>SAT</td>
          </table>
          <div id="cal-frame">
            <table class="curr">
                <tbody>
                    <tr><td class="nil"></td><td class="nil"></td><td class="nil"></td><td class="nil"></td><td class="nil"></td><td>1</td><td>2</td></tr>
                    <tr><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td class="today">8</td><td>9</td></tr>
                    <tr><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td></tr>
                    <tr><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td></tr>
                    <tr><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td></tr>
                </tbody>
            </table>
          </div>
        </div>
        <script>
          var cal = CALENDAR();

          cal.init();
        </script>
      </div>-->

      <div role="tabpanel" class="tab-pane active" id="tasklist" style="background-color: #F3F3F3;">
        <!-- gantt head -->
        <div class="row" style="padding-left: 15px; border-radius: 5px;">
          <div class="bar2">
            <%for i in 0..10 %>
              <% a = Date.today + i %>
              <div class="col-xs-1"><%=a.strftime("%m/%d") %></div>
            <% end %>
          </div>
        </div>
        
        <% current_user.tasks.where(:team_id => @team.id).order(duedate: :asc).each_with_index do |b,i| %>
          <% if b.wansungdo < 100 %>
            <% if b.duedate == nil %>
            <% b.duedate = Date.today %>
            <% end %>
            <% a = (b.duedate - (Date.today)).to_i %>
            <% if a >= 0 %>
            <div class="row" style="overflow:hidden;">
              <div class="col-xs-10">
                <div class="bar2">
                <div class="bar2-innertask_chat" data-task =""></div>
                  <div id="<%=i%>th-gantt" class="bar-innerday bar-<%=a%>" data-date="<%=a%>" data-display ="D -<%=a%>" style="background-color: #00B0F0; overflow:hidden;"></div>
                </div>
              </div>
              <div class="col-xs-2" style="word-wrap:break-word; word-break:break-all; text-align: right;">
                <h4 style="padding-right: 10px;"> <%=b.taskname %> </h4>
              </div>
            </div>
            <% end %>
          <% end %>
        <% end %>
        <script>
          ganttfn();
        </script>
      </div>

      <div role="tabpanel" class="tab-pane" id="taskindiv" style="background-color: #F3F3F3;">
        <!-- gantt head -->
        <div class="row" style="padding-left: 15px;">
          <div class="bar2">
            <%for i in 0..10 %>
              <% a = Date.today + i %>
              <div class="col-xs-1"><%=a.strftime("%m/%d") %></div>
            <% end %>
          </div>
        </div>
        <% temp = [] %>
        <% temp += @team.users %>
        <% temp.each_with_index do |t,idx| %>
          <% ro = t.id %>
          <% @taskindiv_unordered = t.tasks.where(:team_id => params[:team]) %>
          <% @taskindiv = @taskindiv_unordered.order(duedate: :asc) %>
          <% if @taskindiv.count != 0 %>
            <div class="row">
              <div id="profile_on_tasklist<%=idx%>" class="col-sm-12">
                <aside >
                  <img id="img_setting" class="img-circle" alt="profile" src="<%=t.image%>">
                </aside>
                <h5 style="padding-top: 15px;"><%=t.first_name%></h5>
              </div>
            </div>
            <% @taskindiv.each_with_index do |b,i| %>
              <% if b.wansungdo < 100 %>
                <% if b.duedate == nil %>
                  <% b.duedate = Date.today %>
                <% end %>
                <% a = (b.duedate - (Date.today)).to_i %>
                <% if a >= 0 %>
                <div class="row" style="overflow:hidden;">
                  <div class="col-xs-10">
                    <div class="bar2">
                    <div class="bar2-innertask_chat" data-task =""></div>
                      <div id="<%=i%>th-gantt" class="bar-innerday bar-<%=a%>" data-date="<%=a%>" data-display ="D -<%=a%>" style="background-color: #00B0F0; overflow:hidden;"></div>
                    </div>
                  </div>
                  <div class="col-xs-2" style="word-wrap:break-word; word-break:break-all;">
                    <h4 style="padding-right: 10px;"> <%=b.taskname %> </h4>
                  </div>
                </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <script>
          ganttfn();
        </script>
      </div>
    </div>
  </div>
</div>
