<style>
body
{
background-image:url('/bgpic.jpg');
background-repeat:no-repeat;
background-size: cover;
}
</style>

<div style="text-align:center">
  <font color="white"><h1><br><br><br>많은 사람들이 벌써<br>그루퍼를 이용해 팀플을 시작하고 있어요</h1></font>
  <br>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <% if rand(1)==0 %>
            <p>누구나 효율적인 팀플을 원합니다. 여기 실시간 의사결정과 파일을 공유할 수 있는 서비스가 있습니다. 이메일을 적고 바로 이용해보세요!
            </p>
            <form id="regmail" class="form-inline" action="/test/regmail" method="post">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
              <div class="field">
                <input class="form-control" id="user_email" name="email" type="email" placeholder="이메일" required/>
                <input type="submit" class="btn btn-new" role="button" value="시작하기">
              </div>
            </form>
            <h4><small>입력한 이메일로 가입 링크가 전송됩니다.
              <a class="" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">로그인하기</a>
            </small></h4>
            <% if !flash[:notice].blank? %>
              <div class="panel-collapse collapse in" id="collapseExample">

            <% else %>
              <div class="panel-collapse collapse" id="collapseExample">
            <% end %>
              <div style="text-align:center">
                <div class="row">
                  <hr />
                  <div class="col-xs-8 col-xs-offset-2">
                    <h2 style="margin-top: 0px;">로그인</h2>
                    <% if !flash[:notice].blank? %>
                      <div class="well well-sm">
                        <%= flash[:notice] %>
                      </div>
                    <% end %>
                    <div class="row">
                      <div class="col-sm-8 col-sm-offset-2">

                      </div>
                    </div>
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="form-group">
                      <div class="field">
                        <input class="form-control" id="user_email" name="user[email]" type="email" placeholder="이메일" autofocus/>
                      </div>

                      <div class="field">
                        <input class="form-control" id="user_password" name="user[password]" type="password" placeholder="비밀번호" autocomplete="off"/>
                      </div>
                      <!--
                      <% if devise_mapping.rememberable? -%>
                        <div class="field">
                          <%= f.check_box :remember_me %>
                          아이디 기억하기
                        </div>
                      <% end -%>
                      -->
                      <br>
                      <button type="submit" class="btn btn-new" style="width: 100%;">로그인</button>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <form class="form-inline" action="/test/index" method="post">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

              <div class="form-group">
                <input type="text" class="form-control" id="exampleInputName2" placeholder="팀 이름" required>
              </div>
              <button type="submit" class="btn btn-default">팀 만들기</button>
            </form>
            <br>
            <p>누구나 효율적인 팀플을 원합니다. 여기 실시간 의사결정과 파일을 공유할 수 있는 서비스가 있습니다. 팀 이름을 적고 바로 이용해보세요!
            </p>
            <button class="btn btn-new" role="button" data-toggle="modal" data-target="#email">5초 만에 가입하기</button>

            <button class="btn btn-nil" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              로그인
            </button>
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <% if !flash[:notice].blank? %>
                  <div class="well well-sm">
                    <%= flash[:notice] %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="modal fade bs-example-modal-sm" id="email" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="form-group">
                    <h3>이메일 입력하고 시작하기</h3>
                    <p>입력한 이메일로 가입 링크가 전송됩니다.</p>
                    <form id="regmail" class="form-inline" action="/test/regmail" method="post">
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                      <div class="field">
                        <input class="form-control" id="user_email" name="email" type="email" placeholder="이메일" required/>
                        <input type="submit" class="btn btn-default" role="button" value="시작하기">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
