<div class="row messages">
  <div class="col-sm-1">
    <img src="<%= User.find(message.sender_id).image.url %>" class="img-circle" style="padding-top:2px; padding-left:2px" width="36px" height="36px">
  </div>
  <div class="col-sm-11">
    <div id="message<%=message.id%>">
      <div onmouseover="onmessage(this)" onmouseout="outmessage(this)" data-toggle="tooltip" title="<%=message.created_at.strftime("%Y/%m/%d")%>">
        <div class="row">
          <div class="col-md-8"><strong><%=User.find(message.sender_id).first_name%></strong></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"><%=message.created_at.strftime("%p %l:%M")%></div>
        </div>



        <% if message.messagetype == 0 %>
          <%=message.content%><br>
        <% end %>
        <% if message.messagetype == 1 %>
          <div style="height: 200px">
            <a href="<%=message.imagemessage.imagemessageupload.url%>" target="_blank"><img class="imagemessages" src="<%=message.imagemessage.imagemessageupload.url%>" style="padding: 10px; max-width: 70%; height: auto;max-height:200px;"></a>
          </div>
          <br>
        <% end %>
        <% if message.messagetype == 2 && message.filemessage.filemessageupload.file %>

          <%= link_to message.filemessage.filemessageupload.file.filename, message.filemessage.filemessageupload.url, :target => "_blank" %><br>
        <% end %>
      </div>


    </div>

  </div>
</div>
