<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<div class="row">
  <div class="col-sm-2" style="margin-top: 60px;">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
              <a href="/chat/show?team=<%=@team_int.id%>" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne" style="font-family: 'Jeju Gothic', sans-serif;">
                팀 홈으로 가기<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
              </a>
          </h4>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
          <% temp = [] %>
          <% temp += @team_int.users.order(first_name: :asc) %>
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              멤버 <small><%=temp.count%>명</small> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div class="row">
              <div id="profile_me" class="col-sm-12">
                <img class="img-circle" alt="profile" src="<%=current_user.image%>" style="width: 35px; height: 35px;">
                <%=current_user.first_name%>
              </div>
            </div>
      
            <!-- Others Profile -->
            <% temp.each_with_index do |t,idx| %>
              <% if t.id != current_user.id %>
                <div class="row">
                  <div id="profile<%=idx%>" class="col-sm-12">
                    <img style="width: 35px; height: 35px;" class="img-circle" alt="profile" src="<%=t.image%>">
                    <%=t.first_name%>
                  </div>
                </div>
              <% end %>
            <% end %>
            <hr/>
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8">
                <form action="/team/addmember" method="get">
                  <input type="hidden" name="team" value="<%=@team_int.id%>"/>
                  <button type="submit" class="btn btn-new btn-xs" style="width: 100%;" data-toggle="tooltip" data-placement="bottom" title="팀원 추가"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  채팅방 <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
              <% if @chat %>
                <% @chat.each do |chat| %>
                  <div class="row well well-sm">
                    <form action ="/message/show" method="get">
                      <input type="hidden" name="chat" value="<%=chat.id%>">
                      <input type="hidden" name="team" value="<%=@team_int.id%>">
                      <input class="btn btn-link" style="width: 100%;text-align: left;"type="submit" value="<%=chat.title%>">
                    </form>
                    <form action="/chat/deletemember" method="post">
                      <input type="hidden" name="chat" value="<%=chat.id%>">
                      <input type="hidden" name="team" value="<%=@team_int.id%>">
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                      <div class="row">
                        <div class="col-md-9">
                          <% chat.users.each do |inchat| %>
                            <img class="img-circle" alt="profile" src="<%=inchat.image%>" style="width: 20px; height: 20px;">
                          <% end %>
                        </div>
                        <div class="col-md-3">
                          <button class=""type="submit" style="float:right;"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></button>
                        </div>
                      </div>
                    </form>
                  </div>
                <% end %>
              <% end %>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8"><button class="btn btn-new btn-xs" style="width: 100%;" type="button" data-toggle="collapse" data-placement="bottom" data-target="#addchatroom2" aria-expanded="false" aria-controls="addchatroom"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="채팅방 추가"></span></button></div>
              </div>
              <div class="row collapse" id="addchatroom2">
                <form action="/chat/create" method="post">
                  <div id="chat_top" class="col-md-12">
                    회의방 이름 <input type="text" name="title" required>
                    <input type="hidden" name="team" value="<%=@team_int.id%>" style="width:100%;">
                  </div>
                  <% temp.each_with_index do |t,idx| %>
                    <% if t.id != current_user.id %>
                      <div class="row" id="chat_top">
                        <div id="profile<%=idx%>" class="col-sm-12">
                          <aside style="padding-left: 12px;">
                            <img id="img_setting" style="width: 35px; height: 35px;" class="img-circle" alt="profile" src="<%=t.image%>">
                          </aside>
                          <h5 style="color: black;"><%=t.first_name%></h5>
                          <%= check_box_tag('user_ids[]', t.id) %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                </form>
              </div>
              </div>
            </div>
          </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              작업 분배 <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> 
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <div class="row">
              <h3 style="color: #372727; padding-left: 10px"></h3>
            </div>
          
            <form action="/task/create" method="post">
              <div class="row" style="border-top: 1px solid #ccc; padding-left:10px; padding-right:10px; padding-top:10px;">
                <div class="form-group">
                    <label for="taskname_text"><span class="glyphicon glyphicon-briefcase" aria-hidden="true" style="padding-top: 2px; margin-right: 2px;"></span>작업이름</label>
                    <input type="text" class="form-control" name="taskname" id="taskname_text" placeholder="Give Your Task">
                </div>
              </div>
              
              <div class="row" style=" padding-left:10px; padding-right:10px;">
                <label for="datetimepicker1"><span class="glyphicon glyphicon-calendar" aria-hidden="true" style="padding-top: 2px; margin-right: 2px;"></span>마감기한</label>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                      <input type='text' class="form-control" name="duedate"/>
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                </div>
              </div>
              <div class='row' style="padding-left:10px; padding-right:10px; padding-bottom:10px;">
                <button type="submit" value="send" class="btn btn-new btn-sm" aria-haspopup="true" aria-expanded="false" style="font-size: 13px;">
                  등록
                </button>
              </div>
              <script type="text/javascript">
                $(function () {
                  $('#datetimepicker1').datetimepicker({
                    format : 'YYYY-MM-DD'
                  });
                });
              </script>
              
              <!-- My Profile -->
              <div class="row" style="border-top: 1px solid #ccc; padding-top: 5px">
                <div class="col-sm-10">
                  <img class="img-circle" alt="profile" src="<%=current_user.image%>" style="width: 35px; height: 35px;">
                  <%=current_user.first_name%>
                </div>
                <div id="profile_me" class="col-sm-2">
                  <%= check_box_tag('user_ids[]', current_user.id) %><br />
                </div>
              </div>
              
              <!-- Others Profile -->
              <div class="row" id="chat_top">
              </div>
              <% temp.each_with_index do |t,idx| %>
                <% if t.id != current_user.id %>
                  <div class="row">
                    <div class="col-sm-10">
                      <img class="img-circle" alt="profile" src="<%=t.image%>" style="width: 35px; height: 35px;">
                      <%=t.first_name%>
                    </div>
                    <div id="profile_me" class="col-sm-2">
                      <%= check_box_tag('user_ids[]', t.id) %><br />
                    </div>
                <% end %>
              <% end %>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
              <input type="hidden" name="team" value=<%=@team_int.id%>>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="col-sm-10" style="margin-top: 60px;">
    <table class = "table table-bordered table-striped">
      <thead>
        <tr>
           <th>Name</th>
           <th>Download Link</th>
           <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <% @resumes.each do |resume| %>
           <tr>
              <td><%= resume.attachment.file.filename %></td>
              <td><%= link_to "Download Resume", resume.attachment_url %></td>
              <td><%= button_to "Delete",  resume, method: :delete, class: "btn btn-danger", data: {confirm: "#{resume.attachment.file.filename} 을 삭제하실 건가요?"} %></td>
           </tr>
        <% end %>
      </tbody>
    </table>

    <% @chats.each do |chat| %>
      <%=chat.title%>
      <table class = "table table-bordered table-striped">
         <thead>
            <tr>
               <th>Name</th>
               <th>Download Link</th>
            </tr>
         </thead>

         <tbody>
           <% chat.filemessages.each do |filemessage| %>
              <tr>
                  <td><%= filemessage.filemessageupload.file.filename %></td>
                  <td><%= link_to "Download Resume", filemessage.filemessageupload_url %></td>

               </tr>
           <% end %>
         </tbody>

      </table>
    <% end %>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-new btn-lg" data-toggle="modal" data-target="#myModal">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <% if !@resumenew.errors.empty? %>
               <div class = "alert alert-error">

                  <ul>
                     <% @resumenew.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                     <% end %>
                  </ul>

               </div>
             <% end %>
             <%= form_for :resume,:url => {:action => "create"}, html: { multipart: true } do |f| %>
               <%= f.file_field :attachment %>
               <%= f.hidden_field :name %>
               <%= f.hidden_field :team_id, :value => @team %>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
               <%= f.submit "올리기", class: "btn btn-primary" %>
             <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



