<!DOCTYPE html>
<html>
<head>
  <title> Grouper </title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= include_sync_config %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.1.js"></script>
  <meta name="google-signin-client_id" content="462449088434-dqsv26kcove38hjrsbjrhe1gkm3f4d1f.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>

<body>
  <!--
  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
  <script>
    function onSignIn(googleUser) {
      // Useful data for your client-side scripts:
      var profile = googleUser.getBasicProfile();
      console.log("ID: " + profile.getId()); // Don't send this directly to your server!
      console.log('Full Name: ' + profile.getName());
      console.log('Given Name: ' + profile.getGivenName());
      console.log('Family Name: ' + profile.getFamilyName());
      console.log("Image URL: " + profile.getImageUrl());
      console.log("Email: " + profile.getEmail());
      // The ID token you need to pass to your backend:
      var id_token = googleUser.getAuthResponse().id_token;
      console.log("ID Token: " + id_token);
    };
  </script>
  <a href="#" onclick="signOut();">Sign out</a>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    }
  </script>
  <div id="naver_id_login"></div>
  <script type="text/javascript">
  	var naver_id_login = new naver_id_login("M0R6aB8v_c9bWdQlNM9D", "https://grouper1-hyunjunian.c9users.io/");
  	naver_id_login.setButton("white", 2,40);
  	naver_id_login.setDomain(".service.com");
  	naver_id_login.setState("abcdefghijkmnopqrst");
  	naver_id_login.setPopup();
  	naver_id_login.init_naver_id_login();
    naver_id_login.get_naver_userprofile();
    email = naver_id_login.getProfileData('email');
    name = naver_id_login.getProfileData('name');
    age = naver_id_login.getProfileData('age');
  </script>
	<div id="kakao-profile"></div>
  <a id="kakao-login-btn"></a>
  <input type="button" onclick="Kakao.Auth.logout();" value="로그아웃" />
  <input type="button" onclick="getKakaotalkUserProfile();" value="프로필" />
  <script type='text/javascript'>
    //<![CDATA[
      // 사용할 앱의 JavaScript 키를 설정해 주세요.
      Kakao.init('9565439f91483946dbb7c590c98360b7');
      // 카카오 로그인 버튼을 생성합니다.
      Kakao.Auth.createLoginButton({
        container: '#kakao-login-btn',
        success: function(authObj) {
          alert(JSON.stringify(authObj));
        },
        fail: function(err) {
           alert(JSON.stringify(err));
        }
      });
      function getKakaotalkUserProfile(){
				Kakao.API.request({
					url: '/v1/user/me',
					success: function(res) {
						$("#kakao-profile").append(res.properties.nickname);
						$("#kakao-profile").append($("<img/>",{"src":res.properties.profile_image,"alt":res.properties.nickname+"님의 프로필 사진"}));
					},
					fail: function(error) {
						console.log(error);
					}
				});
			}
  </script>
  -->


  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="..">
          <img alt="Grouper" src="/Picture1.png" width="14px" height="24px">
        </a>
        <a class="navbar-brand" href="..">
          Grouper
        </a>
      </div>
      <% if current_user%>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">팀 바꾸기 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% current_user.teams.each do |team| %>
                <li>
                  <a href="/chat/show?team=<%=team.id%>"><%=team.teamname%></a>
                </li>
              <% end %>
              <li role="separator" class="divider"></li>
              <li><a href="/team/newteam">새로운 팀 만들기</a></li>
            </ul>
          </li>
          <% if !current_page?(:controller => '/team', :action => 'index') and !current_page?(:controller => '/team', :action => 'newteam') and !current_page?(:controller => '/team', :action => 'profile') and !current_page?(:controller => '/team', :action => 'noteam') and  !current_page?(:controller => '/team', :action => 'search') %>



            
            <% if current_page?(:controller => '/resumes')%>
            <li class="active"><a href="">클라우드<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span></a></li>
            <% else %>
            <% @str = "클라우드<span class='glyphicon glyphicon-cloud-download' aria-hidden='true'></span>" %>
            <li><%= link_to @str.html_safe, action: "index", controller: "resumes", team: @team.id %></li>
            <% end %>
            <% if current_page?(:controller => '/task', :action => 'show')%>
            <li class="active"><a href="">워크맵<span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a></li>
            <% else %>
            <% @str = "워크맵<span class='glyphicon glyphicon-stats' aria-hidden='true'></span>" %>
            <li><%= link_to @str.html_safe, action: "show", controller: "task", team: @team %></li>
            <% end %>
            <% if current_page?(:controller => '/chat', :action => 'show')%>
              <li>
              <form id="exit" action="/team/deletemember" method="post">
                <input type="hidden" name="team" value="<%=@team.id%>">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

              </form>
              <a class="btn btn-link" data-toggle="modal" data-target="#exitmodal">팀 나가기</a>

              <div id="exitmodal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content" style="text-align: center;">
                    <br>
                    <h4>정말 <%=@team.teamname%>에서 나가겠습니까?</h4>
                    <p>다시 들어오려면 팀원의 초대가 있어야 합니다</p>
                    <button class="btn btn-danger" onclick="$('#exit').submit();">네, 나가겠습니다</button>
                    <br><br>
                  </div>
                </div>
              </div>
              </li>
            <% end %>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <a class="navbar-brand" href="/team/profile">
            <img class="img-circle" alt="profile" src="<%= current_user.image.url %>" width="20px" height="20px">
          </a>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=current_user.first_name %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/team/profile">프로필 바꾸기</a></li>
              <li><a href="https://open.kakao.com/o/sbpof8i">그루퍼와 톡하기!</a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "로그아웃", destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><a data-toggle="tooltip" data-placement="bottom" title="팀을 효과적으로 운영할 수 있도록 도와주는 서비스입니다">그루퍼란?</a></li>
          <li><a data-toggle="tooltip" data-placement="bottom" title="오른쪽 아래 물음표 말풍선을 이용하세요">그루퍼에 연락하기</a></li>
        </ul>
      <% end %>
    </div>
  </nav>

  <%= yield %>

</body>
</html>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
  //if (Notification.permission !== "granted")
    Notification.requestPermission();
});
function notifyMe() {
  if (!Notification) {
    alert('Desktop notifications not available in your browser. Try Chromium.');
    return;
  }
  if (Notification.permission !== "granted")
    Notification.requestPermission();
  else {
    var notification = new Notification('그루퍼에서 알림이??!!', {
      icon: '/Picture1.png',
      body: "누가 메세지를 보냈어요!",
    });
    notification.onclick = function () {
      window.open("/");
    };
  }
}
</script>

<script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/nma6fghhmsHmFxYMlrLtsg.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();
//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//
// Set colors
UserVoice.push(['set', {
  accent_color: '#6aba2e',
  trigger_color: 'white',
  trigger_background_color: '#6aba2e'
}]);
// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
  <% if current_user%>
  email:      '<%=current_user.email%>', // User’s email address
  <%end%>
  //name:       'John Doe', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);
// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', {mode: 'contact', trigger_position: 'bottom-right' }]);
// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);
// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>
